<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/error.css">
    <meta http-equiv="refresh" content="3;url=/answer/api/v1/home" />
</head>
<body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="page-404">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <!--BEGIN CONTENT-->
                <div class="inner-circle"><i class="fa fa-cogs"></i><span><%=error_code%></error_code></span></div>
                <span class="inner-status">Opps! Internal Server Error!</span>
                <span class="inner-detail"><%= error_message %></span>
                <!--END CONTENT-->
            </div>
        </div>
    </div>
</div>
</body>
</html>