<%- include("./partials/header") -%>
  <link rel="stylesheet" href="/css/signin.css">
  <main class="form-signin">
    <form action="/answer/api/v1/auth/login" method="post">
      <img class="mb-4" src="/images/logo.png" alt="Logo" width="72" height="57">
      <h1 class="h3 mb-3 ">Login</h1>

      <div class="form-floating first">
        <input type="text" class="form-control" id="floatingInput" placeholder="x56rahul" name="user_name">
        <label for="floatingInput">Username</label>
      </div>

      <div class="form-floating third">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
        <label for="floatingPassword">Password</label>
      </div>

      <button class="w-100 btn btn-lg btn-primary" type="submit">Signin</button>
    </form>
    <p class="text-muted mt-5 mb-0">Donot have an account? <a href="/answer/api/v1/register"
        class="fw-bold text-body"><u>Regisister
          here</u></a></p>


    <p class="mt-5 mb-3 text-muted">&copy; 2022</p>

  </main>


  <%- include("./partials/footer") -%>